*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
button {
  outline: none;
  border: none;
}
